# ============================
# DATABASE (Supabase)
# ============================
DATABASE_URL="postgresql://postgres:4Ld0j4b4r4t@db.dokutxesxbawnvstbogl.supabase.co:5432/postgres"

# ============================
# CORS
# ============================
# Pisahkan dengan koma tanpa spasi jika lebih dari satu origin
CORS_ORIGIN=http://localhost:3000,https://1zz77d5m-3000.asse.devtunnels.ms

# ============================
# SUPABASE STORAGE
# ============================
# URL project Supabase kamu
SUPABASE_URL="https://dokutxesxbawnvstbogl.supabase.co"
# Ambil dari Supabase Dashboard → Settings → API → service_role key
SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRva3V0eGVzeGJhd252c3Rib2dsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjIyODMyMSwiZXhwIjoyMDkxODA0MzIxfQ.70Z687sJT_KqbLDnrYGaO9XhQAsXXdZONAiapsuepUQ"
# Nama bucket yang dibuat di Supabase Storage
SUPABASE_BUCKET="ukkbucket"

# ============================
# JWT
# ============================
JWT_SECRET=XgHIJu3nhHgQX47JDozkE1VyxQiqHfbihFNntSRkC1Wd8fuOtW98bdg6tStYWciA
JWT_EXPIRES_IN=5h

# ============================
# PORT (Railway set otomatis, tidak perlu diisi manual)
# ============================
# PORT=3000
